

#                        **********************************************************            
#                        *      @PHP : Projet Agence de voyage                    *            
#                        *      @Classe : 2IM3                                    *            
#                        *      @Nom et @Prénom : Jaberi Imed                     *            
#                        *      @Email : imed_jebari@hotmail.fr                   *            
#                        *      @GitHub : https://github.com/3imed-jaberi         *            
#                        **********************************************************     


# --- cached all node_modules in front end side & chatbot api .. ---


# 1 - chatbot api :  
Chatbot API/chat/node_modules
Chatbot API/chat/package-lock.json

# 2 - front end :  
Client/node_modules
Client/package-lock.json